img
{
 width: 100px;
}
img.my
{
	width: 30%;
	float: left;
	margin-left: 1.66%;
	margin-right: 1.66%;
	margin-top: 1.66%;
	margin-bottom: 1.66%;
}
img.dog
{
	width: 30%;
	float: left;
	margin-left: 1.66%;
	margin-right: 1.66%;
	margin-top: 1.66%;
	margin-bottom: 1.66%;
}
img.name
{
	width: 30%;
	float: left;
	margin-left: 1.66%;
	margin-right: 1.66%;
	margin-top: 1.66%;
	margin-bottom: 1.66%;
}
img.is
{
	width: 30%;
	float: left;
	margin-left: 1.66%;
	margin-right: 1.66%;
	margin-top: 1.66%;
	margin-bottom: 1.66%;
}
img.flynn
{
	width: 30%;
	float: left;
	margin-left: 1.66%;
	margin-right: 1.66%;
	margin-top: 1.66%;
	margin-bottom: 1.66%;
}
img.hes
{
	width: 30%;
	float: left;
	margin-left: 1.66%;
	margin-right: 1.66%;
	margin-top: 1.66%;
	margin-bottom: 1.66%;
}
img.pretty
{
	width: 30%;
	float: left;
	margin-left: 1.66%;
	margin-right: 1.66%;
	margin-top: 1.66%;
	margin-bottom: 1.66%;
}
img.cool
{
	width: 30%;
	float: left;
	margin-left: 1.66%;
	margin-right: 1.66%;
	margin-top: 1.66%;
	margin-bottom: 1.66%;
}
img.usually
{
	width: 30%;
	float: left;
	margin-left: 1.66%;
	margin-right: 1.66%;
	margin-top: 1.66%;
	margin-bottom: 1.66%;
}